
section.post-even a, a.active, a:active, a:focus, a:hover {
    color: #333;
    outline: 0;
}

section.post-odd a, a.active, a:active, a:focus, a:hover {
    color: #fff;
    outline: 0;
}

section.post-odd {
    background: #18BC9C;
    color: white;
}

div.post-footer {
    padding: 50px;
}

div.content-wrapper {
    padding-top: 10px;
}
